[submodule "ansicolor-plugin"]
	path = ansicolor-plugin
	url = https://github.com/jenkinsci/ansicolor-plugin
[submodule "ant-plugin"]
	path = ant-plugin
	url = https://github.com/jenkinsci/ant-plugin
[submodule "antisamy-markup-formatter-plugin"]
	path = antisamy-markup-formatter-plugin
	url = https://github.com/jenkinsci/antisamy-markup-formatter-plugin
[submodule "apache-httpcomponents-client-4-api-plugin"]
	path = apache-httpcomponents-client-4-api-plugin
	url = https://github.com/jenkinsci/apache-httpcomponents-client-4-api-plugin
[submodule "artifactory-plugin"]
	path = artifactory-plugin
	url = https://github.com/jenkinsci/artifactory-plugin
[submodule "authentication-tokens-plugin"]
	path = authentication-tokens-plugin
	url = https://github.com/jenkinsci/authentication-tokens-plugin
[submodule "authorize-project-plugin"]
	path = authorize-project-plugin
	url = https://github.com/jenkinsci/authorize-project-plugin
[submodule "blueocean-plugin"]
	path = blueocean-plugin
	url = https://github.com/jenkinsci/blueocean-plugin
[submodule "blueocean-autofavorite-plugin"]
	path = blueocean-autofavorite-plugin
	url = https://github.com/jenkinsci/blueocean-autofavorite-plugin
[submodule "blueocean-display-url-plugin"]
	path = blueocean-display-url-plugin
	url = https://github.com/jenkinsci/blueocean-display-url-plugin
[submodule "blueocean-pipeline-editor-plugin"]
	path = blueocean-pipeline-editor-plugin
	url = https://github.com/jenkinsci/blueocean-pipeline-editor-plugin
[submodule "bootstrap5-api-plugin"]
	path = bootstrap5-api-plugin
	url = https://github.com/jenkinsci/bootstrap5-api-plugin
[submodule "bouncycastle-api-plugin"]
	path = bouncycastle-api-plugin
	url = https://github.com/jenkinsci/bouncycastle-api-plugin
[submodule "branch-api-plugin"]
	path = branch-api-plugin
	url = https://github.com/jenkinsci/branch-api-plugin
[submodule "build-timeout-plugin"]
	path = build-timeout-plugin
	url = https://github.com/jenkinsci/build-timeout-plugin
[submodule "caffeine-api-plugin"]
	path = caffeine-api-plugin
	url = https://github.com/jenkinsci/caffeine-api-plugin
[submodule "checks-api-plugin"]
	path = checks-api-plugin
	url = https://github.com/jenkinsci/checks-api-plugin
[submodule "cloudbees-folder-plugin"]
	path = cloudbees-folder-plugin
	url = https://github.com/jenkinsci/cloudbees-folder-plugin
[submodule "command-launcher-plugin"]
	path = command-launcher-plugin
	url = https://github.com/jenkinsci/command-launcher-plugin
[submodule "commons-lang3-api-plugin"]
	path = commons-lang3-api-plugin
	url = https://github.com/jenkinsci/commons-lang3-api-plugin
[submodule "commons-text-api-plugin"]
	path = commons-text-api-plugin
	url = https://github.com/jenkinsci/commons-text-api-plugin
[submodule "config-file-provider-plugin"]
	path = config-file-provider-plugin
	url = https://github.com/jenkinsci/config-file-provider-plugin
[submodule "configuration-as-code-plugin"]
	path = configuration-as-code-plugin
	url = https://github.com/jenkinsci/configuration-as-code-plugin
[submodule "credentials-plugin"]
	path = credentials-plugin
	url = https://github.com/jenkinsci/credentials-plugin
[submodule "credentials-binding-plugin"]
	path = credentials-binding-plugin
	url = https://github.com/jenkinsci/credentials-binding-plugin
[submodule "display-url-api-plugin"]
	path = display-url-api-plugin
	url = https://github.com/jenkinsci/display-url-api-plugin
[submodule "durable-task-plugin"]
	path = durable-task-plugin
	url = https://github.com/jenkinsci/durable-task-plugin
[submodule "echarts-api-plugin"]
	path = echarts-api-plugin
	url = https://github.com/jenkinsci/echarts-api-plugin
[submodule "favorite-plugin"]
	path = favorite-plugin
	url = https://github.com/jenkinsci/favorite-plugin
[submodule "font-awesome-api-plugin"]
	path = font-awesome-api-plugin
	url = https://github.com/jenkinsci/font-awesome-api-plugin
[submodule "git-plugin"]
	path = git-plugin
	url = https://github.com/jenkinsci/git-plugin
[submodule "git-client-plugin"]
	path = git-client-plugin
	url = https://github.com/jenkinsci/git-client-plugin
[submodule "github-plugin"]
	path = github-plugin
	url = https://github.com/jenkinsci/github-plugin
[submodule "github-api-plugin"]
	path = github-api-plugin
	url = https://github.com/jenkinsci/github-api-plugin
[submodule "github-branch-source-plugin"]
	path = github-branch-source-plugin
	url = https://github.com/jenkinsci/github-branch-source-plugin
[submodule "gradle-plugin"]
	path = gradle-plugin
	url = https://github.com/jenkinsci/gradle-plugin
[submodule "greenballs-plugin"]
	path = greenballs-plugin
	url = https://github.com/jenkinsci/greenballs-plugin
[submodule "h2-api-plugin"]
	path = h2-api-plugin
	url = https://github.com/jenkinsci/h2-api-plugin
[submodule "ivy-plugin"]
	path = ivy-plugin
	url = https://github.com/jenkinsci/ivy-plugin
[submodule "jackson2-api-plugin"]
	path = jackson2-api-plugin
	url = https://github.com/jenkinsci/jackson2-api-plugin
[submodule "javadoc-plugin"]
	path = javadoc-plugin
	url = https://github.com/jenkinsci/javadoc-plugin
[submodule "javax-activation-api-plugin"]
	path = javax-activation-api-plugin
	url = https://github.com/jenkinsci/javax-activation-api-plugin
[submodule "javax-mail-api-plugin"]
	path = javax-mail-api-plugin
	url = https://github.com/jenkinsci/javax-mail-api-plugin
[submodule "jaxb-plugin"]
	path = jaxb-plugin
	url = https://github.com/jenkinsci/jaxb-plugin
[submodule "jdk-tool-plugin"]
	path = jdk-tool-plugin
	url = https://github.com/jenkinsci/jdk-tool-plugin
[submodule "jjwt-api-plugin"]
	path = jjwt-api-plugin
	url = https://github.com/jenkinsci/jjwt-api-plugin
[submodule "job-dsl-plugin"]
	path = job-dsl-plugin
	url = https://github.com/jenkinsci/job-dsl-plugin
[submodule "jquery3-api-plugin"]
	path = jquery3-api-plugin
	url = https://github.com/jenkinsci/jquery3-api-plugin
[submodule "jsch-plugin"]
	path = jsch-plugin
	url = https://github.com/jenkinsci/jsch-plugin
[submodule "junit-plugin"]
	path = junit-plugin
	url = https://github.com/jenkinsci/junit-plugin
[submodule "kubernetes-plugin"]
	path = kubernetes-plugin
	url = https://github.com/jenkinsci/kubernetes-plugin
[submodule "kubernetes-client-api-plugin"]
	path = kubernetes-client-api-plugin
	url = https://github.com/jenkinsci/kubernetes-client-api-plugin
[submodule "kubernetes-credentials-plugin"]
	path = kubernetes-credentials-plugin
	url = https://github.com/jenkinsci/kubernetes-credentials-plugin
[submodule "matrix-auth-plugin"]
	path = matrix-auth-plugin
	url = https://github.com/jenkinsci/matrix-auth-plugin
[submodule "matrix-project-plugin"]
	path = matrix-project-plugin
	url = https://github.com/jenkinsci/matrix-project-plugin
[submodule "maven-plugin"]
	path = maven-plugin
	url = https://github.com/jenkinsci/maven-plugin
[submodule "metrics-plugin"]
	path = metrics-plugin
	url = https://github.com/jenkinsci/metrics-plugin
[submodule "monitoring-plugin"]
	path = monitoring-plugin
	url = https://github.com/jenkinsci/monitoring-plugin
[submodule "okhttp-api-plugin"]
	path = okhttp-api-plugin
	url = https://github.com/jenkinsci/okhttp-api-plugin
[submodule "pipeline-build-step-plugin"]
	path = pipeline-build-step-plugin
	url = https://github.com/jenkinsci/pipeline-build-step-plugin
[submodule "pipeline-graph-analysis-plugin"]
	path = pipeline-graph-analysis-plugin
	url = https://github.com/jenkinsci/pipeline-graph-analysis-plugin
[submodule "pipeline-groovy-lib-plugin"]
	path = pipeline-groovy-lib-plugin
	url = https://github.com/jenkinsci/pipeline-groovy-lib-plugin
[submodule "pipeline-input-step-plugin"]
	path = pipeline-input-step-plugin
	url = https://github.com/jenkinsci/pipeline-input-step-plugin
[submodule "pipeline-maven-plugin"]
	path = pipeline-maven-plugin
	url = https://github.com/jenkinsci/pipeline-maven-plugin
[submodule "pipeline-milestone-step-plugin"]
	path = pipeline-milestone-step-plugin
	url = https://github.com/jenkinsci/pipeline-milestone-step-plugin
[submodule "pipeline-model-definition-plugin"]
	path = pipeline-model-definition-plugin
	url = https://github.com/jenkinsci/pipeline-model-definition-plugin
[submodule "pipeline-multibranch-defaults-plugin"]
	path = pipeline-multibranch-defaults-plugin
	url = https://github.com/jenkinsci/pipeline-multibranch-defaults-plugin
[submodule "pipeline-stage-step-plugin"]
	path = pipeline-stage-step-plugin
	url = https://github.com/jenkinsci/pipeline-stage-step-plugin
[submodule "pipeline-stage-view-plugin"]
	path = pipeline-stage-view-plugin
	url = https://github.com/jenkinsci/pipeline-stage-view-plugin
[submodule "pipeline-utility-steps-plugin"]
	path = pipeline-utility-steps-plugin
	url = https://github.com/jenkinsci/pipeline-utility-steps-plugin
[submodule "plain-credentials-plugin"]
	path = plain-credentials-plugin
	url = https://github.com/jenkinsci/plain-credentials-plugin
[submodule "plugin-util-api-plugin"]
	path = plugin-util-api-plugin
	url = https://github.com/jenkinsci/plugin-util-api-plugin
[submodule "popper2-api-plugin"]
	path = popper2-api-plugin
	url = https://github.com/jenkinsci/popper2-api-plugin
[submodule "pubsub-light-plugin"]
	path = pubsub-light-plugin
	url = https://github.com/jenkinsci/pubsub-light-plugin
[submodule "resource-disposer-plugin"]
	path = resource-disposer-plugin
	url = https://github.com/jenkinsci/resource-disposer-plugin
[submodule "role-strategy-plugin"]
	path = role-strategy-plugin
	url = https://github.com/jenkinsci/role-strategy-plugin
[submodule "scm-api-plugin"]
	path = scm-api-plugin
	url = https://github.com/jenkinsci/scm-api-plugin
[submodule "script-security-plugin"]
	path = script-security-plugin
	url = https://github.com/jenkinsci/script-security-plugin
[submodule "snakeyaml-api-plugin"]
	path = snakeyaml-api-plugin
	url = https://github.com/jenkinsci/snakeyaml-api-plugin
[submodule "sse-gateway-plugin"]
	path = sse-gateway-plugin
	url = https://github.com/jenkinsci/sse-gateway-plugin
[submodule "ssh-credentials-plugin"]
	path = ssh-credentials-plugin
	url = https://github.com/jenkinsci/ssh-credentials-plugin
[submodule "sshd-plugin"]
	path = sshd-plugin
	url = https://github.com/jenkinsci/sshd-plugin
[submodule "structs-plugin"]
	path = structs-plugin
	url = https://github.com/jenkinsci/structs-plugin
[submodule "timestamper-plugin"]
	path = timestamper-plugin
	url = https://github.com/jenkinsci/timestamper-plugin
[submodule "token-macro-plugin"]
	path = token-macro-plugin
	url = https://github.com/jenkinsci/token-macro-plugin
[submodule "trilead-api-plugin"]
	path = trilead-api-plugin
	url = https://github.com/jenkinsci/trilead-api-plugin
[submodule "variant-plugin"]
	path = variant-plugin
	url = https://github.com/jenkinsci/variant-plugin
[submodule "workflow-aggregator-plugin"]
	path = workflow-aggregator-plugin
	url = https://github.com/jenkinsci/workflow-aggregator-plugin
[submodule "workflow-api-plugin"]
	path = workflow-api-plugin
	url = https://github.com/jenkinsci/workflow-api-plugin
[submodule "workflow-basic-steps-plugin"]
	path = workflow-basic-steps-plugin
	url = https://github.com/jenkinsci/workflow-basic-steps-plugin
[submodule "workflow-cps-plugin"]
	path = workflow-cps-plugin
	url = https://github.com/jenkinsci/workflow-cps-plugin
[submodule "workflow-durable-task-step-plugin"]
	path = workflow-durable-task-step-plugin
	url = https://github.com/jenkinsci/workflow-durable-task-step-plugin
[submodule "workflow-job-plugin"]
	path = workflow-job-plugin
	url = https://github.com/jenkinsci/workflow-job-plugin
[submodule "workflow-multibranch-plugin"]
	path = workflow-multibranch-plugin
	url = https://github.com/jenkinsci/workflow-multibranch-plugin
[submodule "workflow-scm-step-plugin"]
	path = workflow-scm-step-plugin
	url = https://github.com/jenkinsci/workflow-scm-step-plugin
[submodule "workflow-step-api-plugin"]
	path = workflow-step-api-plugin
	url = https://github.com/jenkinsci/workflow-step-api-plugin
[submodule "workflow-support-plugin"]
	path = workflow-support-plugin
	url = https://github.com/jenkinsci/workflow-support-plugin
[submodule "ws-cleanup-plugin"]
	path = ws-cleanup-plugin
	url = https://github.com/jenkinsci/ws-cleanup-plugin
